.container {
  box-sizing: border-box;
  width: 200px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.colors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.colors > button {
  width: 100%;
  height: 25px;
  /* border-radius: 8px; */
  border: 0;
  padding: 0 8px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input {
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}

.preview_container {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--window-background-color);
}

.preview {
  font-size: var(--text-large);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 5px 10px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 8px;
}

.icon {
  width: 10px;
  height: 10px;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--text-medium);
  cursor: pointer;
  font-family: "Inconsolata", monospace;
}

.button[disabled] {
  background-color: var(--window-background-color);
  color: var(--text-primary-color);
}
