.container {
  box-sizing: border-box;
  /* min-width: 270px; */
  max-height: 95vh;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--window-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > span {
  font-weight: 600;
  color: var(--text-color);
}

.icon {
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.content {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  min-height: 20px;
  margin: 5px 0px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

.button > span {
  font-weight: 500;
  font-size: var(--text-medium);
  color: var(--text-color);
  margin-right: 5px;
}

.button > .icon {
  width: 12px;
  height: 12px;
}
