.editor_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  width: 100%;
  font-size: var(--text-large);
  position: relative;
  height: 100%;
}

.editor_content {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.editor_content:focus-visible {
  outline: none;
}

.editor_content {
  box-sizing: border-box;
}

.commands {
  width: fit-content;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commands > ul,
.commands > ol {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-left: 20px;
}

.commands > * {
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 4px;
  display: block;
}

.commands > *:hover {
  background-color: var(--droppable-color);
}
