.container {
  box-sizing: border-box;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow: auto;
  border-radius: 4px;
}

.drop_over {
  background-color: var(--droppable-color);
  transition: background-color 0.3s ease-in-out;
}