.container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.small {
  width: 20px;
  height: 20px;
}

.small > span {
  color: var(--white-color);
  font-weight: bold;
  font-size: var(--text-small);
}

.medium {
  width: 26px;
  height: 26px;
}

.medium > span {
  color: var(--white-color);
  font-weight: bold;
  font-size: 13px;
}

.large {
  width: 36px;
  height: 36px;
}

.large > span {
  color: var(--white-color);
  font-weight: bold;
  font-size: var(--text-large);
}
